<div class="main">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="box-account">
               <p class="box-title">月間利用プラン</p>
                <p>サイト監視上限:500</p>
                <p>月額料金:<del>1200円</del>⇒800円</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="U339YZUGRLVEL">
                <input type="image" src="https://www.paypalobjects.com/ja_JP/JP/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - オンラインでより安全・簡単にお支払い">
                <img alt="" border="0" src="https://www.paypalobjects.com/ja_JP/i/scr/pixel.gif" width="1" height="1">
                </form>

            </div>
        </div>
        <div class="col-xs-12 col-lg-6">
            <div class="box-account">   
                 <p class="box-title">年間利用プラン</p>
                 <p>サイト監視上限:500</p>
                 <p>年額料金:<del>9000円</del>⇒6000円</p>
               <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="T39SLHTKHHCPQ">
                <input type="image" src="https://www.paypalobjects.com/ja_JP/JP/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - オンラインでより安全・簡単にお支払い">
                <img alt="" border="0" src="https://www.paypalobjects.com/ja_JP/i/scr/pixel.gif" width="1" height="1">
                </form>

               </div>
        </div>

        <%# <div class="col-xs-12 col-lg-4">
            <div class="box-account">
                <p class="box-title">プロ</p>
                 <p>サイト監視上限:1000</p>
                <p>月額料金：2000円</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="TQYBTPVNCBYF2">
                <input type="image" src="https://www.paypalobjects.com/ja_JP/JP/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - オンラインでより安全・簡単にお支払い">
                <img alt="" border="0" src="https://www.paypalobjects.com/ja_JP/i/scr/pixel.gif" width="1" height="1">
                </form>

            </div>
        </div> %>
    </div>
</div>
</div>