<div class="about-main">
  <h2>みまもるくんとは</h2>
  <p>
    無在庫転売屋さん向けの自動在庫管理システムです。
    サイトURLと在庫切れ時に発生するキーワード(例　SOLD OUT, 売り切れました)を登録すると、自動で1日2回在庫状況を確認し、メールでお知らせします。
    これで面倒かつ退屈な在庫管理からあなたは解放され、より有意義なことに時間を使えるようになります。
  </p>
  
  <h3>CSVによる一括登録</h3>
  <%= image_tag '/assets/torokugamen.PNG' %>
  <p>サイトの登録には、直接入力する個別登録とCSVをアップロードする一括登録の2種類あります。CSVを利用すれば、大量登録も楽にできます。</p>
  <br>
  <h3>メールによる定期通知</h3>
  <%= image_tag '/assets/mail.PNG' %>
  <p>登録したサイトのキーワード発生状況を定期的にメールで通知するので、自分でサイトを監視する必要がなくなります。</p>
  <br>
  <h3>監視状況が一目でわかる管理画面</h3>
  <%= image_tag '/assets/ichiran.PNG' %>
  <p>監視サイトの管理、編集も簡単にできます。</p>
<%# </div> %>

<%# <div class="container"> %>
    
 <h3>在庫管理ができるサイトおよび在庫管理キーワード例</h3>
    <table class="table table-bordered table-striped">
            <thead >
                <tr class="table-light">
                    <th>サイト名</th>
                    <th>キーワード例</th>                    
                </tr>
            </thead>
            <tbody>

                <tr class="table-light">
                    <td >ヤフオク</td>
                    <td>終了</td>
              　</tr>

                <tr class="table-light">
                    <td >ヤフーショッピング</td>
                    <td>現在売り切れです</td>
              　</tr>

               <tr class="table-light">
                    <td >ラクマ</td>
                    <td>SOLD OUT,こちらの商品の掲載は終了しました</td>
              　</tr>

               <tr class="table-light">
                    <td >アマゾン</td>
                    <td>この商品は現在お取り扱いできません</td>
              　</tr>

               <tr class="table-light">
                    <td >楽天</td>
                    <td>売り切れました</td>
              　</tr>

               <tr class="table-light">
                    <td >駿河屋</td>
                    <td>申し訳ございません。品切れ中です。</td>
              　</tr>

               <tr class="table-light">
                    <td >オタマート</td>
                    <td>売り切れました</td>
              　</tr>

              <tr class="table-light">
                    <td >eBay</td>
                    <td>This listing has ended.	</td>
              　</tr>

    
            </tbody>
    </table>

<h3>在庫管理ができないサイト</h3>
<p>メルカリ、ビックカメラ</p>

<p>主要なECサイトの一括在庫管理ができます。以上のサイト一覧は現時点のものであり、対応サイトは今後拡大予定です。</p>


    <h3>料金体系</h3>
    <table class="table table-bordered table-striped">
            <thead >
                <tr class="table-light">
                    <th></th>
                    <th>フリー</th>
                    <th>スターター</th>
                     <th>スタンダード</th>
                    <th>プロフェッショナル</th>
                    
                </tr>
            </thead>
            <tbody>

                <tr class="table-light">
                    <td >監視可能サイト数上限</td>
                    <td>20</td>
                    <td>100</td>
                    <td>300</td> 
                    <td>1000</td>
              　</tr>

               <tr class="table-light">
                    <td  >月額料金(円)</td>
                    <td>0</td>
                    <td>500</td>
                    <td>1000</td> 
                    <td>2000</td>
              　</tr>
    
            </tbody>
    </table>
     <p>監視可能サイト数上限に基づく料金体系となっており、無駄なく必要な分だけご利用いただけます。</p>
</div>