<div class="about-main">
  <h2>みまもるくんとは</h2>
  <p>
    サイト監視サービスです。
    サイトURLとキーワードを登録するだけで、1日1回自動で監視し、キーワードがサイト上に存在するかをメールでお知らせしてくれます。
    例えば、在庫が切れた時に発生するキーワードを登録することでサイトの在庫状況を自動で監視することが出来ます。
  </p>
</div>