<div class="main top-main">
  <div class="top-message">
    <h3>【バグ修正・変更履歴】</h3>
    <p>2019/11/26 18:00：　在庫チェックの不具合を修正しました</p>
    <br>
    <p>ご迷惑をおかけして大変申し訳ございませんでした</p>
    
    <h3>【監視可能確認済みサイト】</h3>
    <p>ラクマ、ヤフオク、Amazon、オタマート</p>
    <br>
    <p>まだまだ、他にも利用可能なサイトはあると思いますので、様々なサイトで試してみてください</p>
    
    <h3>【非対応サイト】</h3>
    <p>メルカリ</p>

  </div>
</div>